@font-face {
	font-family: "DM Sans Regular";
	font-weight: 400;
	src: url("../../assets/fonts/DM_Sans/DMSans-Regular.ttf");
}
@font-face {
	font-family: "DM Sans Medium";
	font-weight: 500;
	src: url("../../assets/fonts/DM_Sans/DMSans-Medium.ttf");
}
@font-face {
	font-family: "DM Sans Bold";
	font-weight: 700;
	src: url("../../assets/fonts/DM_Sans/DMSans-Bold.ttf");
}
